.container {
  align-items: flex-start;
  background-color: var(--gray-500);
  border: 0.5px var(--gray-400) solid;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}
.label {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
  padding-left: 36px;
  position: relative;
  user-select: none;
}
.label input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  width: 0;
}
.description {
  color: var(--gray-100);
  font-size: 0.875rem;
}
.checkmark {
  border: 2px solid var(--blue);
  border-radius: 999px;
  height: 14.82px;
  left: 0;
  margin: 4.59px;
  position: absolute;
  top: 0;
  width: 14.82px;
}
.label:hover input ~ .checkmark {
  border-color: var(--blue-dark);
}
.label input:checked ~ .checkmark {
  background-color: var(--purple-dark);
  border: 0;
}
.label:hover input:checked ~ .checkmark {
  background-color: var(--purple);
}
.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}
.label input:checked ~ .checkmark:after {
  display: block;
}
.label .checkmark:after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid var(--gray-100);
  border-width: 0 0 1px 1px;
  height: 4.69px;
  left: 2.7px;
  position: absolute;
  top: 7.75px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  width: 7.31px;
}
.container button {
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  margin-left: 12px;
  padding: 5px 5.5px;
}
.container button:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}
